" ===
" === Basic settings
" ===
set number
set relativenumber
set ruler
set cursorline
set shiftwidth=4
set softtabstop=4

set scrolloff=5

set hlsearch
set incsearch
set ignorecase
set smartcase

set clipboard=unnamed
set clipboard+=ideaput

set autochdir
set showcmd

set expandtab


" ===
" === Key mapping
" ===
let mapleader = "\<space>"

nnoremap <leader>h 10h
nnoremap <leader>j 10j
nnoremap <leader>k 10k
nnoremap <leader>l 10l

nnoremap <leader>tt :NERDTree<CR>


" ===
" === Plug
" ===
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'terryma/vim-multiple-cursors'
Plug 'tpope/vim-commentary'

