" ===
" === Basic settings
" ===
set number
set relativenumber
set ruler
set cursorline
set fileformat=unix
set autoindent
set cindent
set shiftwidth=4
set softtabstop=4
set splitright
set splitbelow
set mouse=a
set undofile
set history=1000
set wrap

set wildmenu
set wildmode=longest:list,full

set scrolloff=5

set hlsearch
set incsearch
set ignorecase
set smartcase
set showmatch

set clipboard=unnamedplus,unnamed
set clipboard+=ideaput

set autochdir
set showcmd

set expandtab

set showmode

" ===
" === Key mapping
" ===
let mapleader = "\<space>"

nnoremap <leader>h 10h
nnoremap <leader>j 10j
nnoremap <leader>k 10k
nnoremap <leader>l 10l

nnoremap <leader>tt :NERDTree<CR>

" IDEA only
noremap <leader>= :action ReformatCode<CR>

nnoremap <leader>cb :action CloseAllEditorsButActive<CR>

noremap <leader>rn :action RenameElement<CR>
noremap <leader>rf :action RenameFile<CR>

noremap <leader>nc :action NewClass<CR>
nnoremap <leader>nf :action NewFile<CR>
noremap <leader>rfs :action RecentFiles<CR>
noremap <leader>np :action NewDir<CR>

noremap <leader>cap :action CopyAbsolutePath<CR>
noremap <leader>ccp :action CopyContentRootPath<CR>

nnoremap ]g :action GotoNextError<CR>
nnoremap [g :action GotoPreviousError<CR>

noremap <leader>gs mm`m:action GotoSuperMethod<CR>
noremap <leader>gd mm`m:action GotoImplementation<CR>

noremap <leader>AM :action ActivateMavenToolWindow<CR>
noremap <leader>AD :action ActivateDatabaseToolWindow<CR>
noremap <leader>AT :action ActivateTODOToolWindow<CR>
noremap <leader>AP :action ActivateProjectToolWindow<CR>
nnoremap <leader>AR :action ActivateRunToolWindow<CR>
nnoremap <leader>HW :action HideActiveWindow<CR>
noremap <leader>HA :action HideAllWindows<CR>

noremap <leader>uu :action de.netnexus.CamelCasePlugin.ToggleCamelCase<CR>

" ===
" === Plug
" ===
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'terryma/vim-multiple-cursors'
Plug 'tpope/vim-commentary'

