set number
set relativenumber
set ruler
set cursorline
set shiftwidth=4
set softtabstop=4

set scrolloff=5

set hlsearch
set incsearch
set ignorecase
set smartcase

set clipboard=unnamed
set clipboard+=ideaput

set autochdir
set showcmd

" ===
" === Hotkey setting
" ===
let mapleader = "\<space>"

vnoremap <leader>y "+y

nnoremap <leader>h 10h
nnoremap <leader>j 10j
nnoremap <leader>k 10k
nnoremap <leader>l 10l

" USER_DIR
nnoremap <leader>rc :e ~/.ideavimrc<CR>

